.diffLine {
  height: 3rem;
}

.label {
  font-size: 0.8rem;
}

.selectWrapper {
  max-width: 100%;
  width: 120px;
}

.itemIcon {
  width: 1.5rem;
}

.dropdown {
  margin-top: 2.35rem;
  width: 14rem;
  height: 17rem;
  font-size: 0.9rem;
}

.removeVersionBtn {
  border-left: 1px solid var(--bs-white) !important;
}

.versionsList {
  max-height: calc(100% - 40px);
}

@media only screen and (max-width: 767.98px) {
  .title {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 576px) {
  .modalDialog {
    max-width: 80% !important;
    min-height: calc(100% - 10rem) !important;
    max-height: calc(100% - 10rem) !important;
    margin: 5rem auto !important;
  }
}
