:global(.diff),
.table {
  table-layout: auto;
}

:global(.diff-gutter) {
  cursor: auto;
}

:global(.diff-code) {
  white-space: pre;
  padding-right: 2rem;
}

.codeWrapper {
  max-height: calc(100% - 30px);
}

.newLine {
  font-size: 0.8rem;
  margin: 0 0.25rem;
}

.diffHeader {
  background-color: var(--color-black-15);
  color: var(--bs-dark);
}

.hunkHeader {
  background-color: var(--color-black-5);
}
