:global(.diff), .table {
  table-layout: auto;
}

:global(.diff-gutter) {
  cursor: auto;
}

:global(.diff-code) {
  white-space: pre;
  padding-right: 2rem;
}

.newLine {
  font-size: 0.8rem;
  margin: 0 0.25rem;
}
